<footer class="section">
  <div class="grid">

    <div class="left-con">
      <div class="label">Get In Touch</div>

      <!-- BLOBS -->
      <div class="circle-large"></div>
      <div class="circle-small"></div>
      <div class="triangle"></div>

      <!-- CARD -->
      <div class="card">
        <div class="name-pos">
          <h1 class="name">
            {{ owner.name }}
          </h1>

          <span class="pos">
            {{ owner.title }} | UI/UX Designer
          </span>
        </div>

        <div class="contact-details">
          <div class="first-row">
            <span>
              <i class="fa-solid fa-envelope" onkeydown="" (click)="copyEmail()"></i>
              {{ owner.email }}
            </span>

            <br>

            <span onkeydown="" (click)="copyPhone()">
              <i class="fa-solid fa-phone"></i>
              {{ owner.phone }}
            </span>
          </div>

          <div class="second-row">
            <a [href]="owner.linkedin" target="_blank" rel="noopener">
              <i class="fa-brands fa-square-linkedin"></i>
            </a>

            <a [href]="owner.github" target="_blank" rel="noopener">
              <i class="fa-brands fa-github"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="right-con">
      <div class="label">Navigation</div>

      <div class="con-wrapper">
        <div class="nav-links">
          @for (link of footerLinks; track link.label) {
            <button
              class="footer__nav-link"
              (click)="scrollTo(link.anchor)"
            >
              {{ link.label }}
            </button>
          }
        </div>

        <div class="owner">
          Designed and built by
          <strong>{{ owner.name }}</strong>
        </div>
      </div>
    </div>

  </div>
</footer>

<div class="toast" [class.show]="showToast">
    {{ toastMessage }}
</div>