<section class="technologies-section section">
    <div class="section-header">
        <span>STACK</span>
        <h1>notable technologies I worked with</h1>
    </div>


   <div class="w-full tech-grid overflow-hidden rounded-md">

        <div class="grid grid-cols-2 md:grid-cols-4">

            <div class="tech-item">
                <img src="assets/tech-icons/angular.svg"
                    alt="Angular"
                    class="tech-icon">

                <span class="tech-tooltip">Angular</span>
            </div>

            <div class="tech-item">
                <img src="assets/tech-icons/spring.svg"
                    alt="Spring Boot"
                    class="tech-icon">

                <span class="tech-tooltip">Spring Boot</span>
            </div>

            <div class="tech-item">
                <img src="assets/tech-icons/typescript.svg"
                    alt="TypeScript"
                    class="tech-icon">

                <span class="tech-tooltip">TypeScript</span>
            </div>

            <div class="tech-item">
                <img src="assets/tech-icons/java.svg"
                    alt="Java"
                    class="tech-icon">

                <span class="tech-tooltip">Java</span>
            </div>

        </div>

        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6">

            <div class="tech-item">
                <img src="assets/tech-icons/tailwind.svg"
                    alt="TailwindCSS"
                    class="tech-icon">

                <span class="tech-tooltip">TailwindCSS</span>
            </div>

            <div class="tech-item">
                <img src="assets/tech-icons/docker.svg"
                    alt="Docker"
                    class="tech-icon">

                <span class="tech-tooltip">Docker</span>
            </div>

            <div class="tech-item">
                <img src="assets/tech-icons/git.svg"
                    alt="Git"
                    class="tech-icon">

                <span class="tech-tooltip">Git</span>
            </div>

            <div class="tech-item">
                <img src="assets/tech-icons/azure.svg"
                    alt="Azure"
                    class="tech-icon">

                <span class="tech-tooltip">Azure</span>
            </div>

            <div class="tech-item">
                <img src="assets/tech-icons/mongodb.svg"
                    alt="MongoDB"
                    class="tech-icon">

                <span class="tech-tooltip">MongoDB</span>
            </div>

            <div class="tech-item">
                <img src="assets/tech-icons/mysql.svg"
                    alt="MySQL"
                    class="tech-icon">

                <span class="tech-tooltip">MySQL</span>
            </div>

        </div>

    </div>
</section>