<section id="experience" class="section work-section">
    <div class="section-header">
        <span>WORK EXPERIENCES</span>
        <h1>positions I've been into</h1>
    </div>
    <div class="work-container">
        @for (position of exp.work; track $index) {
            <div class="work-item">
                <div class="work-number">
                    {{ ('0' + (exp.work.length - $index)).slice(-2) }}
                </div>
                <div class="work-details">
                    <h2 class="position">{{ position.role }}</h2>
                    <span class="company">
                        {{ position.company }}
                    </span>
                    <span class="work-span">
                        {{ position.period }} ({{ position.duration }})
                    </span>
                </div>
                <div class="work-description">

                    <p>{{ position.description }}</p>

                    <div class="work-techs">
                        @for (tech of position.techs; track $index) {
                            <span>{{ tech }}</span>
                        }
                    </div>

                    <div class="work-techs-mobile">

                        <div class="tech-row row-1">
                            <div class="tech-track">

                                @for (tech of getFirstRow(position.techs); track $index) {
                                    <span>{{ tech }}</span>
                                }

                                @for (tech of getFirstRow(position.techs); track $index) {
                                    <span>{{ tech }}</span>
                                }

                            </div>
                        </div>

                        <div class="tech-row row-2">
                            <div class="tech-track">

                                @for (tech of getSecondRow(position.techs); track $index) {
                                    <span>{{ tech }}</span>
                                }

                                @for (tech of getSecondRow(position.techs); track $index) {
                                    <span>{{ tech }}</span>
                                }

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        }
    </div>
</section>