<section
  id="contact"
  #section
  class="hire-me section-base"
>

  <div>

    <div class="hire-me__content">

      <span class="hire-me__eyebrow">
        Let’s Build Something Great
      </span>

      <h2 class="hire-me__title">
        Hire Me
      </h2>

      <p class="hire-me__description">
        With strong attention to user-experience, design, system performance, and clean architecture.
        Open for freelance, contract, and full-time opportunities.
      </p>

      <a
        class="hire-me__cta"
        href="mailto:joshuaberbie0@gmail.com"
      >
        Start a Conversation
      </a>

    </div>

  </div>

</section>